{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/form_admin.css') }}">

    <div class="container_admin">
        <div class ="form_admin">
            {{ form_start(form) }}
            <h1 class="inscr">Inscrivez un <b>utilisateur</b> en renseignant les informations suivantes</h1>
            {{ form_row(form.username,{'label':'Nom d\'utilisateur'}) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.dateNaissance) }}
            {{ form_row(form.email,{'label':'Adresse email'}) }}
            {{ form_row(form.password,{'label':'Mot de passe'}) }}
            {{ form_row(form.confirm_password,{'label':'Confirmation du mot de passe'}) }}
            {{ form_row(form.directeur) }}
            {{ form_row(form.submit, { 'label': 'Valider' }) }}
            {{form_end(form)}}
            <br/>
        </div>
    </div>
{% endblock %}