{% extends "base.html.twig" %}

{% block body %}
    <br/>

    <form method="post" action="{{ path('admin.inscriptionUser') }}">
        <input type="hidden" name="_method" value="post" >
        <input type="submit" class="btn btn-outline-success" value="Ajouter un utilisateur">
    </form>

    <div class="container">
        <div class="row justify-content-start">

            <div class="col-7">
                <table class="tab_admin">

                    <thead>
                    <tr style="background:  #e0a39a">
                        <th>Identifiant</th>
                        <th>Nom d'utilisateur</th>
                        <th>Adresse email</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Directeur</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for users in user %}
                        <tr>
                            <th>{{users.id}}</th>
                            <th>{{users.username}}</th>
                            <th>{{users.email}}</th>
                            <th>{{users.nom}}</th>
                            <th>{{users.prenom}}</th>
                            {% if users.directeur == 1 %}
                                <th>Directeur</th>
                            {% else %}
                                <th>Pas directeur</th>
                            {% endif %}
                            <th>
                                <form method="post" action="{{ path('admin.editUser',{id: users.id}) }}">
                                    <input type="hidden" name="_method" value="put">
                                    <input type="submit" class="btn btn-outline-success" value="Modifier">
                                </form>

                                <form method="post" action="{{ path('admin.deleteUser',{id: users.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="submit" class="btn btn-outline-success" value="Supprimer">
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}