{% extends "base.html.twig" %}
{% block title %} Connexion {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">

    <div class="container">
        {% if error %}
            <div>
                <p>Erreur de saisi : {{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
            <br/>
        {% endif %}

        <p>Dernier identifiant saisi : {{ last_username }} </p>
        <br/>
        <form action="{{ path('login') }}" method="post">
            <h1>Connectez-vous</h1>
            <div class="form-group">
                <input type="text" onkeyup="checkUsername()" id="username" name="_username" value="{{ last_username }}" size="18" placeholder="Votre identifiant">
            </div>

            <div class="form-group">
                <input type="password" onkeyup="checkPass()" id="password" name="_password"  size="18" placeholder="Votre mot de passe">
            </div>
            <input type="hidden" name="_target_path" value="/" />
            <button type="submit" id="submit" disabled style="opacity: 0.5">VALIDER</button>
        </form>
    </div>
    
    <script>
        function checkUsername() {
            if (document.getElementById("username").value.length > 2){
                document.getElementById("username").style.border = "solid green 2px"
            }else {
                document.getElementById("username").style.border = "solid red 2px"
                document.getElementById("submit").style.opacity = "0.5"
                document.getElementById("submit").disabled = true
            }
            if (document.getElementById("username").value.length > 2 && document.getElementById("password").value.length > 2) {
                document.getElementById("submit").style.opacity = "1"
                document.getElementById("submit").disabled = false
            }
        }

        function checkPass() {
            if (document.getElementById("password").value.length > 2){
                document.getElementById("password").style.border = "solid green 2px"
            }else {
                document.getElementById("password").style.border = "solid red 2px"
                document.getElementById("submit").style.opacity = "0.5"
                document.getElementById("submit").disabled = true

            }
            if (document.getElementById("username").value.length > 2 && document.getElementById("password").value.length > 2) {
                document.getElementById("submit").style.opacity = "1"
                document.getElementById("submit").disabled = false
            }
        }
    </script>
{% endblock %}