{% extends "base.html.twig" %}
{% block title %} Inscription {% endblock %}
{% import "security/recaptcha.html.twig" as formElements %}
{% block body %}

    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">

    <div class="container_insc">
        <div class="inscription">
            {{ form_start(form) }}
            <h1 class="inscr">Pour vous inscrire, renseignez les informations suivantes</h1>
            {{ form_row(form.username,{'label':'Nom d\'utilisateur - pseudo'}) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom,{'label':'Prénom'}) }}
            {{ form_row(form.dateNaissance) }}
            {{ form_row(form.email,{'label':'Adresse email'}) }}
            {{ form_row(form.password,{'label':'Mot de passe'}) }}
            {{ form_row(form.confirm_password,{'label':'Confirmation du mot de passe'}) }}
            {{ form_row(form.directeur) }}
            </br>
            {{ formElements.recaptcha("6Ldd4cEUAAAAADP8p17mGQ6UrhAD6ihgWRWwjETt") }}
            {{ form_row(form.submit, { 'label': 'VALIDER' }) }}
            {{form_end(form)}}
            </br>
        </div>

        <div class="lorem">
            <img src="logo_noir.png" />
        </div>
    </div>
{% endblock %}