{% extends "base.html.twig" %}

{% block body %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <div>
        <div class="conversation">
            <div class="message" id="scroll">
                {% for messages in message %}
                    {% if (messages.user1 == app.user and messages.user2.prenom == user1.prenom) or(messages.user2 == app.user and messages.user1.prenom == user1.prenom)  %}
                        {% if messages.user1 == app.user %}
                            {{messages.date|date("m/d/Y")}}
                            <a class="messageDroite">
                                   moi: {{ messages.contenue }}
                            </a>
                            <br><br>
                        {% else %}
                            {{messages.date|date("m/d/Y")}}
                            <a class="messageGauche">
                                {{ messages.user1.username }}: {{ messages.contenue }}</a>
                            <br><br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
                <input class="laisseComment"type="text" name="contenue" id="contenue" placeholder="Laisser un commentaire"><br>
                <input type="hidden" id="bar" name="bar" value="{{ user1.id }}">
                <button type="submit" id="submit" class="btnEnvoyer">Envoyer</button>
            <br><br>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#submit").click(function(e) {
                $.ajax({
                    method: "post",
                    url: "/tchat/addMessage",
                    dataType: "json",
                    data: {
                        "contenue" : $('#contenue').val(),
                        "id" : $('#bar').val()
                    },
                    async: true,
                    success: function (data) {
                        //$(".message").append("12:45" + "<a class='messageDroite'>" +"moi: "+ $('#contenue').val() + "</a>" +"<br><br>")
                        $('#contenue').val("")
                        $(".message").remove()
                        $(".conversation").prepend("<div class='message' id='scroll'></div>")
                        data.messages.contenue.forEach(function (value, i) {
                            if((data.messages.idUser1[i] == {{ app.user.id }} && data.messages.idUser2[i] == {{ user1.id }})  || (data.messages.idUser2[i] == {{ app.user.id }} && data.messages.idUser1[i] == {{ user1.id }})){
                                if (data.messages.idUser1[i] == {{ app.user.id }}) {
                                    $(".message").append("12:45" + "<a class='messageDroite'>" +"moi: "+ data.messages.contenue[i] + "</a>" +"<br><br>")
                                }else {
                                    $(".message").append("13:49" + "<a class='messageGauche'>" +"autre: "+ data.messages.contenue[i] + "</a>" +"<br><br>")
                                }
                            }
                        })
                    },
                    error:function(jqXHR, textStatus){
                        console.log(jqXHR); //affichage dans la console du navigateur
                    }
                });
            });

            function charger(){

                setTimeout( function(){
                   loadBDD();
                   charger();
                }, 1000); // on exécute le chargement toutes les 5 secondes
            }

            charger();

        });

        function loadBDD() {
            $.ajax({
                method: "post",
                url: "/tchat/addMessage",
                dataType: "json",
                data: {
                    "contenue" : "",
                    "id" : ""
                },
                async: true,
                success: function (data) {
                    //$(".message").append("12:45" + "<a class='messageDroite'>" +"moi: "+ $('#contenue').val() + "</a>" +"<br><br>")
                    $(".message").remove()
                    $(".conversation").prepend("<div class='message' id='scroll'></div>")
                    data.messages.contenue.forEach(function (value, i) {
                        if((data.messages.idUser1[i] == {{ app.user.id }} && data.messages.idUser2[i] == {{ user1.id }})  || (data.messages.idUser2[i] == {{ app.user.id }} && data.messages.idUser1[i] == {{ user1.id }})){
                            if (data.messages.idUser1[i] == {{ app.user.id }}) {
                                $(".message").append("12:45" + "<a class='messageDroite'>" +"moi: "+ data.messages.contenue[i] + "</a>" +"<br><br>")
                            }else {
                                $(".message").append("13:49" + "<a class='messageGauche'>" +"autre: "+ data.messages.contenue[i] + "</a>" +"<br><br>")
                            }
                        }
                    })
                },
                error:function(jqXHR, textStatus){
                    console.log(jqXHR); //affichage dans la console du navigateur
                }
            });
        }
    </script>
{% endblock %}
