{# A inclure dans d'autres pages #}
<div id="notificationsContainer">
    <h3>NOTIFICATIONS</h3>
    {% for notification in notifications %}
        <div class="elementDeDroite">
            {% if notification.demandeAmis != null %}
                {{ notification.demandeAmis.userId2.prenom }} {{ notification.demandeAmis.userId2.nom }} vous as demandé en ami !<br>
                <a href="{{ path('amis.accepte',{id: notification.id}) }}">Accepter</a> <a href="{{ path('amis.acceptePas',{id: notification.id}) }}">Refuser</a>
            {% else %}
                <a style="color: red">{{ notification.evenement.nom }}</a>   <br>
                Date: {{ notification.evenement.date }}   <br>
                Lieu: {{ notification.evenement.bar.nom }}
            {% endif %}
        </div>
    {% endfor %}
</div>