{% extends "base.html.twig" %}

{% block body %}
    <div class="ensemble">
    <h1 style="text-align: center">Ajouter un événement</h1><br><br>
    <form action="{{ path("evenement.add") }}" method="post" >
        <input type="hidden" name="token" value="{{ csrf_token('formulaire_produit_valide') }}">
        Nom de l'événement:<br>
        <input type="text" name="nomEvent" class="inputEvent"><br><br>
        Entrer la date de l'événement:<br>
        <input type="date" name="madate" ><br><br>

        <div class="form-group">

            <label>Choisir qui invité</label><br>
            <select name="amis_id[]" class="form-control"  multiple="multiple" >
                <option value="">Veuillez sélectionner un amis</option>
                {% for use in user %}
                    {% if app.user != use %}
                        <option value="{{ use.id }}">
                            {{ use.username }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <br><br>
            <label>Ou se passeras l'événement</label><br>
            <select name="bar_id" class="form-control">
                <option value="">Veuillez sélectionner un bar</option>
                {% for bars in bar %}
                    <option value="{{ bars.id }}">
                        {{ bars.nom }}
                    </option>
                {% endfor %}
            </select>
        </div><br>
        <button type="submit" style="height: 30px; border-radius: 10px; width: 180px"> Ajouter événement</button>
    </form>
        <br>
    </div>

{% endblock %}