{% extends "base.html.twig" %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">

    <div class="inscr_bar">
        {{ form_start(form) }}
        <h1>Voulez - vous ajouter un <b>bar</b> à la liste ?</h1>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <br/>

{% endblock %}