{% extends "base.html.twig" %}

{% block body %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {#inserer js pour faire apparaître les div petit a petit#}
    <!--<script src="build/js/list_bar_fade.js"></script>-->
    <script src="build/js/javascript.js"></script>
    <!--<script src="build/js/div_fade.js"></script>-->

    <style>
        h1 {
            text-align: center;
            font-family: "Century Gothic";
            margin-top: 2%;
        }
        .blockbar {
            display: block;
            opacity: 1.0;
        }
    </style>
    <h1>Venez profitez des bars à Belfort</h1>
    <br/>

    {% for bars in bar  %}
        <div class="blockbar">
            <div class="try">
                <img style="width:250px;height:250px" src="{{asset('images/')}}{{bars.photo}}" alt="image de {{bars.photo}}" >
            </div>

            <div class="textDroiteBar">
                    <h2>{{ bars.nom }}</h2>
                    <br>
                   <a> <b>Adresse : </b><br>{{ bars.adresse }}</a>
                    <a>{{ bars.codePostal }}</a><a> {{ bars.ville }}</a>
                    <br>
                    <br>
                    <a><b>Numéro de téléphone :</b><br> {{ bars.telephone }}</a>
                    <br>
                    <br>
                    <a><b>Description :</b></a><br>
                    <a>{{ bars.description }}</a><br><br>
                    <a>Commentaire :</a><br>
                    {% for commentaires in commentaire %}
                        {% if commentaires.bar.id == bars.id %}
                            <div class="commentaire">
                                {% if app.user == commentaires.user %}
                                    <a href="{{ path('commentaire.del',{id: commentaires.id}) }}" class="close icon" style="margin-left: 29%"></a>
                                {% endif %}
                                <a>{{ commentaires.user.username }}: {{ commentaires.contenue }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}

                <form action="{{ path('commentaire.add') }}" method="post" >
                    <input style="display: block; width: 400px;margin-top: 20px" type="text" name="contenue" placeholder="Laisser un commentaire"><br>
                    <input type="hidden" name="bar" value="{{ bars.id }}">
                    <input type="submit">
                </form><br><br>

                <a href="{{ path('bar.like', {id: bars.id}) }}" class="btn btn-link js-like" id="like" style="margin-left: 35% ">
                    {% if app.user and bars.isLikedByUser(app.user) %}
                        <i class="fas fa-thumbs-up"></i>
                    {% else %}
                        <i class="far fa-thumbs-up"></i>
                    {% endif %}
                    <span class="js-likes">{{ bars.likes | length  }}</span>
                    <span class="js-label">Like</span>
                </a>
            </div>
            <br/>
        </div>
        <br>
    {% endfor %}
    <br/>

{% endblock %}
{#Script pour like#}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const axios = require('axios');
        function onClickBtn(event){
            event.preventDefault();
            const url = this.href;
            const spn = this.querySelector('span.js-likes');
            axios.get(url).then(function (response) {
                spn.textContent = response.data.likes;
            });
        }

        document.querySelectorAll('a.js-like').forEach(function(link) {
            link.addEventListener('click', onclickBtn);
        })
    </script>
{% endblock %}
