{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">

    <div class="inscription">

        {{ form_start(form) }}
        <h1>Un message à faire passer ?</h1>
        <div class="form-group">
            {{form_row(form.email)}}
        </div>
        <div class="form-group">
            {{form_row(form.message)}}
        </div>
            {{ form_row(form.submit, { 'label': 'VALIDER' }) }}
        {{ form_end(form) }}

    </div>

    <div class="contact">
        <h2>Nous contacter : </h2>
        <br><label class="infos">N° de téléphone : 0607080901</label>
        <br><label class="infos">Adresse e-mail : mail@exemple.fr</label>
        <br><label class="infos">Département Informatique, IUT de Belfort-Montbéliard.</label>
    </div>
{% endblock %}
