{% block body %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">


<script src="build/js/carrousel.js"></script>
<script src="build/js/div_fade.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="build/js/javascript.js"></script>

    <style>
        #partieDroite{
            display: none;
        }
    </style>


    <div class="indexImg">
        <header>
            <div class="entete" style="background-color: none; background-image: none;">
                <div class="barre" style="padding-top: 25px">
                    <a href="/"> <img class="logo" src="{{asset('images/logo barathon.png')}}"> </a>
                    <ul class="nav" style="display: inline;">
                        <li><a href="{{ path('bar.show') }}">Les Bars</a></li>
                        <li><a href="{{ path('carte') }}">Barathon</a></li>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('bar.add') }}">Ajouter bar</a></li>

                            <li><a href="{{ path('user.userList') }}">Rechercher des amis</a></li>

                            <li><a href="{{path('logout') }}">Se déconnecter</a></li>

                        {% else %}
                            <li><a href="{{path('login') }}">Se connecter</a></li>
                            <li><a href="{{  path('user_registration') }}" method="post">S'inscrire</a></li>
                        {% endif %}

                        <li><a href="{{ path('propos') }}">À propos</a></li>
                    </ul>
                </div>
            </div>

        </header>
        <img class="flechebas" src="/images/fleche.png" id="monBouton2"/>
    </div>

    {# On inclue les notifications à droite #}
    {#{ render(controller(
        'App\\Controller\\NotificationController::showNotifications'
    )) }#}


    <div class="fond1" id="fond">
        <div class="texte">
            <h1 class="soustitre2">Boire un verre</h1>
            <img class="biere" src="images/biere.png" alt="" />
            <p>
                <br>Nous aimons tous prendre du bon temps. Pourquoi pas autour d'un verre ?
                <br>Le but de notre site est que vous prévoyez des moments de détente,
                <br>que vous appréciez l'instant présent, et que vous sachiez à quel
                <br>endroit le faire et à quel moment le faire.
                <br> Notre site recense une liste de bars dans lesquels vous pouvez
                <br>prendre un verre. Vous pouvez également voir les bars les plus
                <br>appréciés ainsi que l'avis des personnes sur ces bars.
            </p>
        </div>
    </div>
    <div class="fond2" id="fond">
        <div class="texte">
            <h1 class="soustitre3">Partager</h1>
            <img class="biere" src="images/bulle.png" alt="" />
            <p>
                <br>Boire un verre, oui, mais avec des amis c'est mieux !
                <br>Se réunir et discuter autour d'un verre, faire des rencontres
                <br>Le partage de ces moments avec des amis est pour nous très important.
                <br>C'est pourquoi nous avons intégré un mini-réseau social
                <br>afin de pouvoir discuter des meilleurs bars,
                <br>programmer un évènement entre amis ou tout simplement
                <br>faire de nouvelles rencontres et pouvoir se revoir une prochaine fois.
                <br/>
                <br>Notre but : Passer un bon moment entre amis !
            </p>
        </div>
    </div>
    <div class="fond3" id="fond">
        <div class="texte">
         <h1 class="soustitre4">Visiter</h1>
            <img class="biere" src="images/pin.png" alt="" />
            <p>
                <br>Qui dit boire un verre et qui dit amis dit possibilité de faire un barathon.
                <br>Le but, visiter plusieurs bars dans la même soirée et prendre un verre
                <br>dans chaqun d'entre eux. Notre site dispose donc d'un mode barathon.
                <br>Le principe est simple, on crée un évènement avec nos amis, on sélectionne
                <br>une liste de bars et un itinéraire est généré entre les bars. Vous n'avez plus
                <br>a vous soucier de la planification, cet outil est la pour ça !
                <br>Vous pouvez bien entendu partager votre experience après cela !
            </p>
            <h1 class="soustitre4">A vos marques, prêt, profitez !</h1>
        </div>
    </div>

    <a> <img class="flechebas flechebasEnbas" src="/images/fleche.png" id="monBouton" style="transform:rotate(180deg);"/> </a>
    <br/>
    <br/>
{% endblock %}