<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}projet{% endblock %}</title>
    <link href="{{ asset('build/fontawesome-free-5.11.2-web/css/fontawesome.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
{% if is_granted('ROLE_ADMIN') %}
    {% include "nav_admin.html.twig" %}
{% else %}
    {% include "nav.html.twig" %}
{% endif %}



{% block body %}
    

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset("style.css") }}" />


       <!-- <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.5.0/css/all.css" integrity="sha384-B"-->
    {% endblock %}

    <div class="container">




    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}



</body>
</html>