{% block stylesheets %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/leaflet-routing-machine/leaflet-routing-machine.css">
    <script src="http://127.0.0.1:8000/leaflet-routing-machine/leaflet.js"></script>
    <script src="http://127.0.0.1:8000/leaflet-routing-machine/leaflet-routing-machine.js"></script>
    <script src="http://127.0.0.1:8000/corslite.js"></script>
    <script src="http://127.0.0.1:8000/polyline.js"></script>
    <script src="http://127.0.0.1:8000/L.Routing.OpenRouteService.js"></script>
    <script src="http://127.0.0.1:8000/osrmTrip_voyageurCommerce.js"></script>

    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}
{% block body %}
    <header>
        <div class="entete">
            <div class="barre">
                <a href="/"> <img class="logo" src="{{asset('images/logo barathon.png')}}"> </a>
                <ul class="nav">
                    <li><a href="{{ path('bar.show') }}">Les Bars</a></li>
                    <li><a href="{{ path('carte') }}">Barathon</a></li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('evenement.show') }}">Ajouter événement</a></li>

                        <li><a href="{{ path('bar.add') }}">Ajouter bar</a></li>

                        <li><a href="{{ path('user.userList') }}">Rechercher des amis</a></li>

                        <li><a href="{{path('logout') }}">Se déconnecter</a></li>

                    {% else %}
                        <li><a href="{{path('login') }}">Se connecter</a></li>
                        <li><a href="{{  path('user_registration') }}" method="post">S'inscrire</a></li>
                    {% endif %}

                    <li><a href="{{ path('propos') }}">À propos</a></li>
                </ul>
            </div>
        </div>

    </header>
    {# On inclue les notifications à droite #}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="partieDroite">
                {{ render(controller(
                    'App\\Controller\\NotificationController::showNotifications'
                )) }}
                {{ render(controller(
                    'App\\Controller\\TchatController::showAmis'
                )) }}
            </div>
        {% endif %}


{% endblock %}