{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}
{% block body %}
    <header>
        <div class="entete">
            <div class="barre">
                <a href="/"> <img class="logo"> </a>
                <ul class="nav">
                    <li><a href="{{ path('admin.showBar') }}">Voir les Bars</a></li>
                    <li><a href="{{ path('admin.showUser') }}">Voir les utilisateurs</a></li>
                    <li><a href="/logout">Se déconnecter</a></li>
                    <li><a href="{{ path('propos') }}">À propos</a></li>
                </ul>
            </div>
        </div>

    </header>
{% endblock %}