{% extends "base.html.twig" %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('build/css/form_admin.css') }}">

    <div class="container_admin">
        <div class ="form_admin">
            {{ form_start(form) }}
            <h1 class="inscr">Modifiez un <b>bar</b></h1>
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <br/>
        </div>
    </div>


{% endblock %}