{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">

    <br/>
    <form method="post" action="{{ path('admin.addBar') }}">
        <input type="hidden" name="_method" value="post" >
        <input type="submit" class="btn btn-outline-success" value="Ajouter un bar">
    </form>

    <div class="container">
        <div class="row justify-content-start">
            <div class="col-7">
                <table class="tab_admin">
                    <thead>
                    <tr style="background: #e0a39a">
                        <th>Identifiant</th>
                        <th>Nom</th>
                        <th>N° de téléphone</th>
                        <th>Adresse email</th>
                        <th>Adresse</th>
                        <th>Photo</th>
                        <th>Description</th>
                        <th>Propriétaire</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bars in bar %}
                        <tr>
                            <th>{{ bars.id }}</th>
                            <th>{{bars.nom}}</th>
                            <th>{{bars.telephone}}</th>
                            <th>{{bars.email }}</th>
                            <th>{{bars.adresse}}</th>
                            <th>
                                <img style="width:40px;height:40px" src="{{asset('images/')}}{{bars.photo}}" >
                            </th>
                            <th>{{ bars.description }}</th>
                            <th>{{ bars.users.username | default('Non défini') }}</th>

                            <th>
                                <form method="post" action="{{ path('admin.editBar',{id: bars.id}) }}">
                                    <input type="hidden" name="_method" value="put">
                                    <input type="submit" class="btn btn-outline-success" value="Modifier">
                                </form>

                                <form method="post" action="{{ path('admin.deleteBar',{id : bars.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="submit" class="btn btn-outline-success" value="Supprimer">
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}