{# A inclure dans d'autres pages #}
<div id="notificationsContainer">
    <h3>Amis :</h3>
    {% for ami in amis %}
        {% if app.user == ami.userId1 and ami.isAmis == 1 %}
            <a href="{{ path('amis.tchat', {id: ami.userId2.id }) }}" class="boutonAmi">
                <div class="elementDeDroite divAmi">
                    <div class="avatarListeAmi">
                        <img src="{{asset('images/')}}{{ami.userId2.photo|default('default.png')}}" alt="image de {{ami.userId2.photo}}" >
                    </div>
                    <div class="pseudoListeAmi">
                        {{ ami.userId2.username }}<div class="messageListeAmi">
                            <img src="{{asset('images/message_icon.png')}}" alt="Chatter">
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
        {% if app.user == ami.userId2 and ami.isAmis == 1 %}
            <a href="{{ path('amis.tchat', {id: ami.userId1.id }) }}" class="boutonAmi">
                <div class="elementDeDroite divAmi">
                    <div class="avatarListeAmi">
                        <img src="{{asset('images/')}}{{ami.userId1.photo|default('default.png')}}" alt="image de {{ami.userId1.photo}}" >
                    </div>
                    <div class="pseudoListeAmi">
                        {{ ami.userId1.username }}<div class="messageListeAmi">
                            <img src="{{asset('images/message_icon.png')}}" alt="Chatter">
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>