{% extends "base.html.twig" %}

{% block body %}
    <!-- -------------------------------------ajout amis cassée----------------------------------------- -->

{#    <div class="add_ami">#}
{#        <form method="post" action="#">#}
{#            <input type="hidden" name="_method" value="post" >#}
{#            <input type="submit" class="btn btn-outline-success" value="Ajouter utilisateur">#}
{#        </form>#}
{#    </div>#}


    <div class="container">
            <form method="get" action="{{ path('user.filtre') }}" style="margin-left: 50px;">
                <label>Recheche (username) :
                    <input type="text" name="filtre"></label>
                <input type="submit" style="float : none;" value="Filtrer">
            </form>


                <table class="table table-bordered">
                    <tbody>

                    {% set i=0 %}
                    {% for users in user %}

                        {% if  app.user != users %}
                            <td>
                                <div class="blockuser">
                                    <img style="width:200px;height:auto" src="{{asset('images/')}}{{users.photo|default('default.png')}}" alt="image de {{users.photo}}" >
                                    <br/>
                                    <br/>
                                    <h2 class="textuser">{{ users.username }}</h2>
                                    <div class="textuser" >
                                          <a> {{ users.nom }} {{ users.prenom }}</a>
                                    </div>
                                    <br/>
                                    {% set compteur =0 %}
                                    {% for ami in amis %}
                                        {% if users == ami.userId1 or users == ami.userId2  %}
                                            {% set compteur=1 %}
                                            {% if ami.isAmis == 1 %}
                                            <div class="formulaire">
                                                <a style="margin-left: 45px; color: #00e000"> Vous êtes amis</a>
                                            </div>
                                            {% else %}
                                                <div class="formulaire">
                                                    <a style="margin-left: 12px; color: #00e000"> En attende d'acceptation</a>
                                                </div>

                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if compteur == 0 %}
                                        <div class="formulaire">
                                            <form method="post" action="{{ path('user.addAmis',{id: users.id}) }}">
                                                <input type="submit" class="btn btn-outline-success" value="Ajouter un ami ">
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                                {% set i=i+1 %}
                                {% if i%5 == 0 %}
                                    <tr>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
    </div>
{% endblock %}