{# A inclure dans d'autres pages #}

<style>
    #conteneurMap {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 600px;
        margin-top: 5px;
    }

    #mapid {
        height: 600px;
        width: 100%;
    }

    .itineraire {
        width: 50%;
        /*text-align: justify-all;*/
        margin-left: auto;
        margin-right: auto;
    }

    /* Fix petits écrans */
    @media screen and (max-width: 1280px) {
        #conteneurMap {
            width: 71%;
            margin-left: 2%;
            margin-right: initial;
        }
        .itineraire {
            width: 71%;
            margin-left: 2%;
            margin-right: initial;
        }
    }

    .boutonDepart {
        background-color: #1c73a7;
    }

    .boutonArrivee {
        background-color: #df2826;
    }

    button {
        float: right;
        border: solid 1px rgba(0, 0, 0, 0.8);
        border-radius: 2px;
        padding: 5px;
        cursor: pointer;
        color: whitesmoke;
        font-family: "Century Gothic", bold;
        background-color: rgba(0, 0, 0, 0.8);
    }
    button:hover {
        border-color: whitesmoke;
    }
    .itineraire h3 {
        font-family: "Century Gothic";
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        margin-bottom: 5px;
        padding: 20px;
        color: #00ee00;
        border-radius: 2px;
    }
</style>

<div id="notificationsContainer">
    <div id="conteneurMap">
        <div id="mapid" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0">
        </div>
    </div>
</div>
<br>
<div class="itineraire">
    <h3>Ajoutez les bars que vous souhaitez à votre itinéraire</h3>
    <button style="float: initial" onclick="initAll()">Réinitialiser l'itinéraire</button>
    <div id="listBars"></div>
</div>
<script>
    var mymap = L.map('mapid').setView([47.637114, 6.854525], 14);

    // Icons de couleur pour les marqueurs
    var greenIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    var redIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    var greyIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    var blueIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });


    var listeBarsItineraire = [];
    var barDepart = null;
    var barArrivee = null;
    var points = [];
    var popup = L.popup();

    var listeBars = [];
    var listeMarqueurs = [];

    var controller;

    // Initialise la liste des bars et toutes les variables
    function initAll() {
        mymap.eachLayer(function (layer) {
            mymap.removeLayer(layer);
        });

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);

        listeBarsItineraire = [];
        barDepart = null;
        barArrivee = null;
        points = [];

        listeBars = [];
        listeMarqueurs = [];

        listBtnsBars = document.getElementById("listBars");

        listBtnsBars.innerHTML = "";

        {% for bar in bars %}
        // Boutons des bars en bas
        string = '<div id="bar{{bar.id}}">';
        string += '<br>';
        string += '{{bar.nom }}';
        string += '<button id="bar{{bar.id}}arrivee" class="boutonArrivee" onclick="ajouterBarArrivee({{bar.id}})">Ajouter en lieu d\'arrivée</button>';
        string += '<button id="bar{{bar.id}}ajout" onclick="ajouterBarALitineraire({{bar.id}})">Ajouter en lieu de passage</button>';
        string += '<button id="bar{{bar.id}}depart" class="boutonDepart" onclick="ajouterBarDepart({{bar.id}})">Ajouter en lieu de départ</button>';
        string += '<br>';
        string += '</div>';

        listBtnsBars.innerHTML += string;

        // Liste qui contient tous les bars
        listeBars.push({"id" : "{{bar.id}}", "nom" : "{{bar.nom}}".replace(/,/g, '.'), "lat" : "{{bar.latitude}}".replace(/,/g, '.'), "lng" : "{{bar.longitude}}".replace(/,/g, '.'), "email" : "{{bar.email}}", "telephone" : "{{bar.telephone}}", "ville" : "{{bar.ville}}", "adresse" : "{{bar.adresse}}", "description" : "{{bar.description}}"});
        latitude = "{{bar.latitude }}".replace(/,/g, '.');
        longitude = "{{bar.longitude }}".replace(/,/g, '.');
        var barMarqueur = L.marker([latitude,longitude])
            .addTo(mymap)
            .setIcon(greyIcon)
            .bindPopup("<b>{{bar.nom }}</b><br>{{bar.adresse }}<br><div style='color:grey'>17:30 - 01:00</div>"+afficherPopupBarBoutons({{bar.id}}));
        listeMarqueurs.push([barMarqueur, "{{bar.nom }}", "{{bar.adresse }}", {{bar.id}}]);
        {% endfor %}

        elements = document.getElementsByClassName("boutonDepart");
        for (var x = 0; x < elements.length; x++)
            elements[x].style.display = "initial";

        elements = document.getElementsByClassName("boutonArrivee");
        for (var x = 0; x < elements.length; x++)
            elements[x].style.display = "initial";

        // On actualise les marqueurs après les avoir récupérés, utile pour la couleur
        actualiserMarqueurs();

        if (controller)
            controller.remove();
        controller = L.Routing.control({
            waypoints: points,
            router: L.Routing.osrmTrip({
                language: 'fr',
                serviceUrl: 'http://127.0.0.1:5000/trip/v1'
            })
        })
            .on('routesfound', function (result) {
                var plan = this.getPlan();
                var wps = result.routes[0].waypoints;
                this.options.autoRoute = false;
                plan.setWaypoints(wps);
                this.options.autoRoute = true;
            });
    }

    // On initialise tout une première fois
    initAll();

    function empecherBoutonsBarDepart() {
        // On empêche tous les autres bar d'être ajouté en départ
        elements = document.getElementsByClassName("boutonDepart");
        for (var x = 0; x < elements.length; x++)
            elements[x].style.display = "none";
    }

    function empecherBoutonsBarArrivee() {
        // On empêche tous les autres bar d'être ajouté en arrivée
        elements = document.getElementsByClassName("boutonArrivee");
        for (var x = 0; x < elements.length; x++)
            elements[x].style.display = "none";
    }

    // Ajouter départ via clic
    function ajouterLocalisationDepart(lat,lng) {
        barDepart = {};
        barDepart.id = -1;
        barDepart.lat = lat;
        barDepart.lng = lng;

        ok = false;
        var i = 0
        for(i = 0; i < listeMarqueurs.length; i++) {
            if(listeMarqueurs[i][2] == "Point de départ") {
                ok = true;
                break;
            }
        }

        if (ok) {
            var barMarqueur = listeMarqueurs[i][0]
            listeMarqueurs[i] = [barMarqueur, "Localisation manuelle", "Point de départ", -1];
        } else {
            var barMarqueur = L.marker([lat,lng])
                .addTo(mymap)
                .setIcon(greyIcon)
                .bindPopup("<b>Localisation manuelle</b><br>Point de départ<br><div style='color:grey'>17:30 - 01:00</div>");
            listeMarqueurs.push([barMarqueur, "Localisation manuelle", "Point de départ", -1]);
        }

        actualiserMarqueurs();
        actualiserPointsItineraire();
        mettreAJourLaMap();
        empecherBoutonsBarDepart();
    }

    // Ajouter arrivée via clic
    function ajouterLocalisationArrivee(lat,lng) {
        barArrivee = {};
        barArrivee.id = -2;
        barArrivee.lat = lat;
        barArrivee.lng = lng;

        ok = false;
        var i = 0
        for(i = 0; i < listeMarqueurs.length; i++) {
            if(listeMarqueurs[i][2] == "Point d'arrivée") {
                ok = true;
                break;
            }
        }

        if (ok) {
            var barMarqueur = listeMarqueurs[i][0]
            listeMarqueurs[i] = [barMarqueur, "Localisation manuelle", "Point d'arrivée", -2];
        } else {
            var barMarqueur = L.marker([lat,lng])
                .addTo(mymap)
                .setIcon(greyIcon)
                .bindPopup("<b>Localisation manuelle</b><br>Point de départ<br><div style='color:grey'>17:30 - 01:00</div>");
            listeMarqueurs.push([barMarqueur, "Localisation manuelle", "Point d'arrivée", -2]);
        }

        actualiserMarqueurs();
        actualiserPointsItineraire();
        mettreAJourLaMap();
        empecherBoutonsBarArrivee();
    }

    // Popup pour les clics
    function afficherPopupLatLng(lat,lng) {
        string = "";

        // Bouton départ
        if(barDepart == null)
            string += "<button style='float: initial;' class='boutonDepart' onclick='ajouterLocalisationDepart("+lat+","+lng+")'>Ajouter en point de départ</button>";

        // Bouton arrivée
        if(barArrivee == null)
            string += "<button style='float: initial;' class='boutonArrivee' onclick='ajouterLocalisationArrivee("+lat+","+lng+")'>Ajouter en point d'arrivée</button>";

        return string;
    }

    // Popup pour les boutons des bars
    function afficherPopupBarBoutons(id) {
        string = "";
        departOuArrivee = false;

        // Bouton point de départ
        if(barDepart == null)
            string += "<button id='boutonPopupDepart"+id+"' style='float: initial;' class='boutonDepart' onclick='ajouterBarDepart("+id+")'>Ajouter en point de départ</button>";
        else if(barDepart["id"] == id) {
            departOuArrivee = true;
            string += "<br><b><i>Point de départ</i></b><br>";
        }

        if(barArrivee != null && barArrivee["id"] == id)
            departOuArrivee = true;

        ok = true;
        var i = 0;
        for (i = 0; i < listeBarsItineraire.length; i++) {
            if (listeBarsItineraire[i]["id"] == id) {
                ok = false;
                break;
            }
        }

        if(ok) {
            // Bouton point de passage
            if(!departOuArrivee)
                string += "<button id='boutonPopupPassage" + id + "' style='float: initial;' onclick='ajouterBarALitineraire(" + id + ")'>Ajouter en point de passage</button>";
        } else if(listeBarsItineraire[i]["id"] == id)
            string += "<br><b><i>Point de passage</i></b><br>";

        // Bouton point d'arrivée
        if(barArrivee == null)
            string += "<button id='boutonPopupArrivee"+id+"' style='float: initial;' class='boutonArrivee' onclick='ajouterBarArrivee("+id+")'>Ajouter en point d'arrivée</button>";
        else if(barArrivee["id"] == id)
            string += "<br><b><i>Point d'arrivée</i></b><br>";

        return string;
    }

    // Implémentation du clic dans la map
    function onMapClick(e) {
        if(barDepart == null || barArrivee == null)
            popup
                .setLatLng(e.latlng)
                .setContent(afficherPopupLatLng(e.latlng.lat,e.latlng.lng))
                .openOn(mymap);
    }
    mymap.on('click', onMapClick);


    // Actualise les marqueurs pour les couleurs et les boutons des popups
    function actualiserMarqueurs() {
        mymap.closePopup();

        for (var i = 0; i < listeMarqueurs.length; i++) {
            // On actualise la popup de chaque marqueur présent sur la map
            listeMarqueurs[i][0].bindPopup("<b>"+listeMarqueurs[i][1]+"</b><br>"+listeMarqueurs[i][2]+"<br><div style='color:grey'>17:30 - 01:00</div>"+afficherPopupBarBoutons(listeMarqueurs[i][3]));

            // Si le marqueur est un point de départ, il est en bleu
            if(barDepart && barDepart["id"] == listeMarqueurs[i][3]) {
                listeMarqueurs[i][0].setIcon(blueIcon);
                // Si le marqueur est un point d'arrivée, il est en rouge
            } else if(barArrivee && barArrivee["id"] == listeMarqueurs[i][3]) {
                listeMarqueurs[i][0].setIcon(redIcon);
            } else {
                ok = false;
                // Si le marqueur est un point de passage, il est en vert
                for (j = 0; j < listeBarsItineraire.length; j++) {
                    if (listeBarsItineraire[j]["id"] == listeMarqueurs[i][3]) {
                        listeMarqueurs[i][0].setIcon(greenIcon);
                        ok = true;
                        break;
                    }
                }
                // Si le marqueur ne fait pas partie de l'itinéraire, il est en gris
                if(!ok)
                    listeMarqueurs[i][0].setIcon(greyIcon);
            }
        }
    }

    // Ajoute un bar de passage
    function ajouterBarALitineraire(id) {
        // On cherche le bar à ajouter
        for (var x = 0; x < listeBars.length; x++) {
            if (listeBars[x]["id"] == id) {
                // Si il est en bar de départ ou d'arrivée, on ne l'ajoute pas
                ok = true;
                if (barDepart != null && barDepart["id"] == id)
                    ok = false
                if (barArrivee != null && barArrivee["id"] == id)
                    ok = false

                // Si il est déjà dans la liste, on ne l'ajoute pas
                for (var i = 0; i < listeBarsItineraire.length; i++) {
                    if (listeBarsItineraire[i]["id"] == id) {
                        ok = false
                        break;
                    }
                }

                // Si on peut l'ajouter
                if (ok) {
                    listeBarsItineraire.push(listeBars[x]);
                    document.getElementById("bar"+id).style.display = "none";
                    actualiserMarqueurs();
                    // On actualise les points de l'itinéraire
                    actualiserPointsItineraire();
                    mettreAJourLaMap();
                }
                break;
            }
        }
    }

    // Ajoute un bar de départ
    function ajouterBarDepart(id) {
        // On cherche le bar à ajouter
        for (var x = 0; x < listeBars.length; x++) {
            if (listeBars[x]["id"] == id) {
                barDepart = listeBars[x];
                document.getElementById("bar"+id).style.display = "none";
                actualiserMarqueurs();
                actualiserPointsItineraire();
                mettreAJourLaMap();
                empecherBoutonsBarDepart();
            }
        }
    }

    // Ajoute un bar d'arrivée
    function ajouterBarArrivee(id) {
        // On cherche le bar à ajouter
        for (var x = 0; x < listeBars.length; x++) {
            if (listeBars[x]["id"] == id) {
                barArrivee = listeBars[x];
                document.getElementById("bar"+id).style.display = "none";
                actualiserMarqueurs();
                actualiserPointsItineraire();
                mettreAJourLaMap();
                empecherBoutonsBarArrivee();
            }
        }
    }

    // On met à jour le tableau de l'itinéraire
    function actualiserPointsItineraire() {
        if (barDepart != null && barArrivee != null) {
            points = [];
            points.push(L.latLng(barDepart.lat,barDepart.lng));
            for (var i = 0; i < listeBarsItineraire.length; i++) {
                points.push(L.latLng(listeBarsItineraire[i]["lat"],listeBarsItineraire[i]["lng"]));
            }
            points.push(L.latLng(barArrivee.lat,barArrivee.lng));
        }
    }

    function mettreAJourLaMap() {
        // Si on a les points d'extrémité
        if(barDepart && barArrivee) {
            // Call à l'API et affichage du résultat en itinéraire (route)
            controller.remove();
            controller = L.Routing.control({
                waypoints: points,
                router: L.Routing.osrmTrip({
                    language: 'fr',
                    serviceUrl: 'http://127.0.0.1:5000/trip/v1'
                })
            })
                .on('routesfound', function (result) {
                    var plan = this.getPlan();
                    var wps = result.routes[0].waypoints;
                    this.options.autoRoute = false;
                    plan.setWaypoints(wps);
                    this.options.autoRoute = true;
                });
            controller.addTo(mymap);
        }
    }
</script>
<br>
<br>