{% extends 'base.html.twig' %}

{% block title %}Barathon{% endblock %}

{% block body %}
    <style>
        .barathon {
            padding: 0.5em;
        }
    </style>

    <div class="barathon">
        {{ render(controller('App\\Controller\\CarteController::getBars')) }}
    </div>
{% endblock %}
